<div ngbAccordion [closeOthers]="true">
    <div class="col-xl-8 col-sm-12 mx-auto"
      ngbAccordionItem
      *ngFor="let accordionItem of accordionItems"
      [collapsed]="accordionItem !== accordionItems[0]"
    >
      <h2 ngbAccordionHeader>
        <button class="fw-bold d-flex justify-content-between align-items-center" ngbAccordionButton>{{ accordionItem.question }}</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody class="pt-3 px-4 pb-2">
          <ng-template>
            {{ accordionItem.answer }}
          </ng-template>
        </div>
      </div>
    </div>
</div>
