<div class="card">
  <a href="{{product.image}}" class="product-popup-link">
    <img src="{{product.image}}" class="card-img-top" alt="Tea {{product.id}}">
  </a>
  <div class="card-body my-1 mx-2">
    <h5 class="product-title h5 card-title fw-bold mb-2">{{product.title}}</h5>
    <p class="product-description card-text pt-1 mb-4">{{product.description | productDescriptionLength:99}}</p>
    <div class="product-action">
      <a class="btn btn-primary px-5" [routerLink]="['/products', product.id]">Подробнее</a>
    </div>
  </div>
</div>
