/* You can add global styles to this file, and also import other style files */
.carousel-item-first {
  background: url("assets/images/slider1.png") right 0 center / cover no-repeat;
}

app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-control:focus, .btn-close:focus {
  box-shadow: unset;
}

.popup {
  right: 20px;
  bottom: 20px;
  animation: popup .5s linear 1;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: trasnlateY(0);
  }
}


.loader-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
}


.loader {
  border: 15px dotted #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 3s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
